<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thmeleaf-extras-springsecurity6">
<head>
  <title>利用者メニュー</title>
</head>
<body>

 
<h2>利用者メニュー</h2>
  
 
<ul>
    
    
   
<li><a th:href="@{/user/books}">書籍検索</a></li>
    
   
<li><a th:href="borrow_status.html">借受状況一覧</a></li>
    
   
<li><a th:href="usage_history.html">利用履歴</a></li>

<div sec:authorize="${hasRole('ADMIN')}"><li><a th:href="@{'/admin/menu'}">管理者メニュー</a></li></div>
    
    
<li><a th:href="@{'/logout'}">ログアウト</a></li>
  </ul>
</body>
</html>