<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出確定</title>

<style>
    body {
      background-image: url('https://images.unsplash.com/photo-1504520169123-768da2d62b57?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      padding: 14rem;
      color: #333333;
    }
</style>

</head>
<body>
	<table>
		<tr>
			<td>書名</td>
			<td th:text="${lending.colBooks.books.title}"/>
		</tr>
		<tr>
			<td>著者</td>
			<td th:text="${lending.colBooks.books.author}"/>
		</tr>
		<tr>
			<td>貸出日</td>
			<td th:text="${#temporals.format(lending.loanDateTime,'yyyy/MM/dd HH:mm:ss')}"/>
		</tr>
		<tr>
			<td>返却予定日</td>
			<td th:text="${lending.scheduledReturnDate}" />
		</tr>
		
	</table>
	
	<a th:href="@{/user/receive}">書籍一覧に戻る</a>

</body>
</html>