<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出確定</title>
</head>
<body>
	<table>
		<tr>
			<td>書名</td>
			<td th:text="${lending.colBooks.books.title}"/>
		</tr>
		<tr>
			<td>著者</td>
			<td th:text="${lending.colBooks.books.author}"/>
		</tr>
		<tr>
			<td>貸出日</td>
			<td th:text="${#temporals.format(lending.loanDateTime,'yyyy/MM/dd HH:mm:ss')}"/>
		</tr>
		<tr>
			<td>返却予定日</td>
			<td th:text="${lending.scheduledReturnDate}" />
		</tr>
		
	</table>
	
	<a th:href="@{/user/receive}">書籍一覧に戻る</a>

</body>
</html>