<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約編集</title>
<style>
    body {
      background-image: url('https://images.unsplash.com/photo-1573878217863-e9cb45ef86fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=847&q=80');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      padding: 8rem;
      color: #000;
    }
</style>　
</head>
<body>
	<h3>予約編集</h3>
	<form th:action="@{/user/receive/reservereconf}" method="post" >
		<table>
			<tr>
				<th>予約開始日</th>
				<td>
					<input type="date" name="reserveDate" th:value="${reserveEditForm.reserveDate}">
				</td>
				<td>
					<span th:errors="${reserveEditForm.reserveDate}" />
				</td>
			</tr>
			<tr>
				<th>返却予定日</th>
				<td>
					<input type="date" name="scheduledReturnDate" th:value="${reserveEditForm.scheduledReturnDate}">
				</td>
				<td>
					<span th:errors="${reserveEditForm.scheduledReturnDate}" />
				</td>
			</tr>
		</table>
		<input type="hidden" name="reserveId" th:value="${reserveEditForm.reserveId}">
		<input type="hidden" name="booksId" th:value="${reserveEditForm.booksId}">
		<input type="submit" value="変更確定">
	</form>
</body>
</html>