<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>新規ユーザー登録</title>
</head>
<body>
  <h2>新規ユーザー登録</h2>
  <form th:action="@{/signup}" method="POST" th:object="${signupForm}" >
	<div th:if="${signupError}">
		<div th:text="${signupError}"></div>
	</div>
    <label for="lastName">性:</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
    <span th:errors="*{lastName}"></span><br><br>

    <label for="firstName">名:</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
    <span th:errors="*{firstName}"></span><br><br>


    <label for="userId">ユーザーID:</label>
    <input type="uerId" id="userId" name="userId" th:field="*{userId}" required>
    <span th:errors="*{userId}"></span><br><br>

    <label for="password">パスワード:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <span th:errors="*{password}"></span><br><br>

    <input type="submit" value="登録">
  </form>
</body>
</html>