<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Books List</title>
</head>
<body>
	  <h2>書籍登録</h2>
	  
	  <form th:action="@{/admin/books/colbooksadd}" method="post" th:object="${colBooksForm}">
		  <input type="hidden" name="bookId" th:value="*{bookId}">
		  <input type="date" th:field="${colBooksForm.registrationDate}">
		  <input type="submit" value="登録">
	  </form>
	  
	  <table>
		  <tr>
			  <th>識別番号</th>
			  <th>登録日</th>
			  <th>貸出状況</th>
		  </tr>
		  <tr th:each="book : ${colBooksList}">
			<td th:text="|${book.booksId}-${book.identifyNumber}|" />
			<td th:text="${book.registrationDate}" />
			<td th:text="${book.situation}" />
		  </tr>
	  </table>
	

</body>
</html>